[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "dynamic-colors"]
	path = dynamic-colors
	url = https://github.com/sos4nt/dynamic-colors
