[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "dynamic-colors"]
	path = submodules/dynamic-colors
	url = https://github.com/sos4nt/dynamic-colors
[submodule "bash-it"]
	path = submodules/bash-it
	url = https://github.com/Bash-it/bash-it
[submodule "urxvt-font-size"]
	path = submodules/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size
[submodule "urxvt-perls"]
	path = submodules/urxvt-perls
	url = https://github.com/muennich/urxvt-perls
[submodule "ssh-ident"]
	path = submodules/ssh-ident
	url = https://github.com/ccontavalli/ssh-ident
[submodule "submodules/pass-otp"]
	path = submodules/pass-otp
	url = https://github.com/tadfisher/pass-otp
[submodule "submodules/translate-shell"]
	path = submodules/translate-shell
	url = https://github.com/soimort/translate-shell
	branch = stable
[submodule "submodules/pass-extension-tail"]
	path = submodules/pass-extension-tail
	url = https://github.com/palortoff/pass-extension-tail
[submodule "submodules/pass-extension-pin"]
	path = submodules/pass-extension-pin
	url = https://github.com/hughdavenport/pass-extension-pin
[submodule "submodules/pass-extension-passphrase"]
	path = submodules/pass-extension-passphrase
	url = https://github.com/hughdavenport/pass-extension-passphrase
[submodule "submodules/pass-extension-wifi_qr"]
	path = submodules/pass-extension-wifi_qr
	url = https://github.com/hughdavenport/pass-extension-wifi_qr
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "submodules/vim-sensible"]
	path = submodules/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "submodules/fzf.vim"]
	path = submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "submodules/vim-sleuth"]
	path = submodules/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "submodules/vim-rsi"]
	path = submodules/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "submodules/syntastic"]
	path = submodules/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "submodules/vim-signify"]
	path = submodules/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "submodules/vim-airline-themes"]
	path = submodules/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "submodules/pass-update"]
	path = submodules/pass-update
	url = https://github.com/roddhjav/pass-update
[submodule "submodules/editorconfig-vim"]
	path = submodules/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "submodules/tmux-open"]
	path = submodules/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "submodules/tmux-yank"]
	path = submodules/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "submodules/tmux-copycat"]
	path = submodules/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "submodules/tmux-resurrect"]
	path = submodules/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "submodules/tmux-continuum"]
	path = submodules/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "submodules/tmux-sensible"]
	path = submodules/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "submodules/workman-layout"]
	path = submodules/workman-layout
	url = https://github.com/workman-layout/Workman
[submodule "submodules/vim-ledger"]
	path = submodules/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule "submodules/vim-easy-align"]
	path = submodules/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
